<div class="entire-entry-container">
  <!-- Divider between entries -->
  <% if (showLineBreak) { %>
    <div class="lineBreak-wrapper">
      <hr>
    </div>
  <% } %>

  <!-- Polaroid image showing book details -->
  <div class="polaroid randomRotation">
    <div class="entry-img-wrapper">
      <img src="<%= entryDetails.book_cover %>" alt="book cover for <%= entryDetails.title %>" />
    </div>

    <% if (showDatePublished) { %>
    <div class="entry-date">
      <p>
        Date Created: 
        <% if (entryDetails.date_created) { %>
        <!-- If no date fetched from database, fallback to placeholder -->
          <span> <% const formattedDate = new
          Date(entryDetails.date_created).toLocaleDateString(); %> <%= formattedDate %>
          </span>
        <% } else { %>
          <span class="empty"> 
            --/--/----
          </span>
        <% } %>
      </p>
    </div>
    <% } %>

    <div class="entry-titleAuthor">
      <p>
        <span>
            <a href="<%= entryDetails.ol_link %>" target="_blank" rel="noopener noreferrer"
              ><%= entryDetails.title %></a
            >
        </span>
        <br>
          by 
          <% if (entryDetails.author) { %> 
          <!-- If no author fetched from API, fallback to placeholder -->
            <%= entryDetails.author %> 
          <% } else { %>
            <span class="empty"><em>No Author yet. Please update.</em></span>
          <% } %>
      </p>
    </div>
  </div>

  <!-- Section containing rating, review +/- forms and buttons, depending on flags -->
  <div class="entry-content-container">
    <div class="entry-rating">
      <p>
        <% if (entryDetails.rating) { %> 
        <!-- If no rating fetched from database, fallback to placeholder -->
          <% if (showPreview) { %>
            <h2> Rating </h2>
            <br>
            <div>
              <%= entryDetails.rating %> 
              <hr>
              5 
            </div>
          <% } else { %>
            <div>
              <%= entryDetails.rating %> / 5 
            </div>
          <% } %>
        <% } else { %>
            <div>
              <span class="empty">No rating yet. Fill form below.</span>
            </div>
        <% } %>
      </p>
    </div>
    
    <div class="entry-review">
      <p>
        <% if (entryDetails.review) { %> 
        <!-- If no review fetched from database, fallback to placeholder -->
          <% if (showPreview) { %>
          <h2> Review </h2>
          <br>
            <% var preview = (entryDetails.review).substring(0, 300) %>
            <%= preview %>...
            <br>
            <a href="/view/<%= entryDetails.review_id %>" target="_blank" rel="noopener noreferrer"><span class="material-icons-round">read_more</span></a>
          <% } else { %>
            <%= entryDetails.review %> 
          <% } %>
        <% } else { %> 
          <span class="empty">No review yet. Fill form below.</span> 
        <% } %>
      </p>
    </div>

    <% if (showButtons) { %>
    <div class="entry-buttons">
    <!-- Home, Edit, and Delete button -->
      <% if (!showPreview) { %>
      <a href="/"><span class="material-icons-round">home</span></a>
      <% } %>
      <a href="/edit/<%= entryDetails.review_id %>"><span class="material-icons-round">edit</span></a>
      <form method="POST">
        <a
          href="/delete/<%= entryDetails.review_id %>"
          onclick="return confirm('Are you sure you want to delete this entry?')"
          >
          <span class="material-icons-round">delete</span>
          </a
        >
      </form>
    </div>
    <% } %>

      <% if (showForm) { %> 
      <!-- Show either edit or post form, depending on flags -->

        <% if (showEditForm) { %>
          <form action="/edit-entry/<%= entryDetails.review_id %>" method="POST">
            <input type="hidden" name="isbn" value="<%= entryDetails.book_isbn %>" />

            <h2>Update Entry :</h2>
        <% } %>

        <% if (showPostForm) { %>
          <form action="/post-new-entry" method="POST">
          <!-- NOTE: JSON.stringify(book) was not working and resorted to approach below: -->
            <input type="hidden" name="bookTitle" value="<%= entryDetails.title %>" />
            <input type="hidden" name="bookCover" value="<%= entryDetails.book_cover %>" />
            <input type="hidden" name="bookISBN" value="<%= entryDetails.isbn %>" />
            <input type="hidden" name="bookOLlink" value="<%= entryDetails.ol_link %>" />
        <% } %>

            <div class="entry-input-author">
              <h3>Author:</h3>
              <input
                  type="text"
                  name="author"
                  placeholder="Author"
                  value="<%= entryDetails.author %>"
                  required
              />
            </div>

            <div class="entry-input-rating">
                <h3>Rating:</h3>
                <% for (let i = 0; i < 6; i++) { %> <input id="<%= i %>" type="radio"
                name="rating" value="<%= i %>" required <%= entryDetails.rating == i ?
                "checked" : "" %> />
                <!-- NOTE: entryDetails.rating == i ? "checked" : ""  <- So that the user can see which rating was originally selected  -->
                <label for="<%= i %>"><%= i %></label>
                <% } %>
            </div>

            <div class="entry-input-review">
                <h3>Review:</h3>
                <textarea
                  name="review"
                  placeholder="Write your review here..."
                  minlength="300"
                  required
                  autofocus
                ><%= entryDetails.review %></textarea
                >
            </div>

            <div class="cancelSubmit-btn"> 
              <% if (showPostForm) { %>
              <!-- Cancelling submission on add-entry page will refresh page, otherwise will take user to homepage -->
                <a href="/add-entry">Cancel</a>
              <% } else { %>
                <a href="/">Cancel</a>
              <% } %>
              <input type="submit" value="Submit" />
            </div>
          </form>
      <% } %>
  </div>
</div>